* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: initial;
}

.wrapper {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  position: relative;
}

h1 {
  margin: 20px auto;
}

.img--main {
  width: 100%;
}

.text--1 {
  display: inline-block;
  /* position: absolute; */
  margin-left: 150px;
  margin-top: 5px;
}

.section--1 {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 1000px;
  /* min-width: 100vw; */
  background-image: url("https://i.imgur.com/vM2SEZ0.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.text--2 {
  display: inline-block;
  margin-top: 80px;
  margin-left: 50px;
  max-width: 400px;
}

.text--3 {
  width: 55%;
  margin-top: 300px;
  margin-left: 20px;
}

.text--3 h3 {
  margin-bottom: 20px;
}

.btn {
  background-color: #ed801a;
  padding: 5px 20px;
  border-radius: 5px;
}

.section--2 h1 {
  color: rgb(209, 113, 23);
  line-height: 33px;
}

.section--2-wrapper {
  width: 100%;
}

.section--2__img {
  width: 50%;
  float: left;
}

.section--2__text {
  width: 50%;
  float: right;
}

.section--2 img {
  margin: 20px 0;
}

.section--2 ul {
  list-style-position: inside;
}

.heading-1 {
  margin-bottom: 30px;
}

.clearfix {
  overflow: auto;
}

.btn-1 {
  width: 100%;
  text-align: center;
  margin: 40px 0px;
  /* position: absolute; */
}

.btn-1 a {
  padding: 10px 20px;
  border-radius: 15px;
}

.fr {
  float: right;
}
