html {
  color: white;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

p {
  font-weight: 400;
  font-size: 12px;
}

h1 {
  text-shadow: 4px 5px rgba(black, 0.77);
}

.heading {
  &--jackpot {
    position: absolute;
    font-size: 100px;
  }
  &-1 {
    font-size: 45px;
    // word-spacing: 20px;
    line-height: 35px;

    &--money {
      margin: 100px 130px 70px 0px;
    }

    .span--1 {
      word-spacing: initial;
      font-size: 55px;
    }
  }
  &-2 {
    font-size: 30px;
    // margin-right: 20%;
    text-align: left;
    margin-left: 125px;
  }
}

.span--yellow {
  color: #fcbd11;
}

.bet {
  line-height: 42px;
  font-size: 35px;
}
