.games__digits {
  display: flex;
  align-content: center;
  //   justify-content: space-between;
  position: relative;

  &-line {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #101a26;
    top: 50%;
  }
}

.digit {
  font-size: 35px;
  background-color: #143a4f;
  padding: 0px 7px;

  border: 1px #224f64 solid;
  border-radius: 3px;

  &:not(:last-child) {
    margin-right: 5px;
  }
}
