.game-rules {
  width: 100%;
  border: 1px #ffc714 solid;
  padding: 30px 30px;
  margin: 50px 0px;
  position: relative;

  &__headline {
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 10px 20px;
    background-color: #ffc714;
    color: #091a23;
  }
  &__container {
    display: flex;
    width: 100%;
    justify-content: space-between;

    &--text {
      margin-right: 30px;
      margin-top: 30px;
    }
  }
}

.container--text {
  width: 100%;
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  img {
    margin-right: 15px;
  }
}

.container__btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;

  a {
    white-space: nowrap;
    padding: 10px 15px;
    background-color: #ffc714;
    border-radius: 30px;
    color: #091a23;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      margin-left: 15px;
      font-size: 18px;
      margin-top: -2px;
    }
  }
}
