*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  color: white;
  font-family: "PT Sans", sans-serif;
  font-weight: bold; }

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer; }

p {
  font-weight: 400;
  font-size: 12px; }

h1 {
  text-shadow: 4px 5px rgba(0, 0, 0, 0.77); }

.heading--jackpot {
  position: absolute;
  font-size: 100px; }

.heading-1 {
  font-size: 45px;
  line-height: 35px; }
  .heading-1--money {
    margin: 100px 130px 70px 0px; }
  .heading-1 .span--1 {
    word-spacing: initial;
    font-size: 55px; }

.heading-2 {
  font-size: 30px;
  text-align: left;
  margin-left: 125px; }

.span--yellow {
  color: #fcbd11; }

.bet {
  line-height: 42px;
  font-size: 35px; }

.ta-l {
  text-align: left; }

.ta-r {
  text-align: right; }

.ta-c {
  text-align: center; }

body {
  height: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #153b50 0%, transparent 55%);
  background-color: #07161d;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.wrapper {
  width: 50%;
  margin: 0 auto; }

.flair {
  width: 100%;
  opacity: 0.6;
  mix-blend-mode: lighten;
  position: absolute;
  z-index: -1; }

.triangle {
  width: 0;
  height: 0;
  border-bottom: 90px solid transparent;
  border-left: 60vw solid #feb124;
  position: relative; }
  .triangle--1 {
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 55px solid transparent;
    border-left: 40vw solid #ffc714; }
  .triangle--2 {
    height: 0;
    position: absolute;
    right: 0;
    border-top: 120px solid transparent;
    border-right: 85vw solid #ffc563; }
  .triangle--3 {
    border-right: 70vw solid #fbbe13; }

.line {
  height: 1px;
  background-color: #4c4a20;
  margin: 50px 0px; }

.main-textbox {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center; }
  .main-textbox__top {
    position: relative; }
  .main-textbox__bot {
    display: flex;
    width: 100%;
    justify-content: space-around; }
    .main-textbox__bot--games {
      display: flex;
      flex-direction: column;
      justify-content: flex-end; }
    .main-textbox__bot--text {
      text-align: center;
      margin-left: 50px; }
  .main-textbox__logo {
    width: 100px;
    position: absolute;
    top: 15px;
    right: 30%; }

.jackpot {
  width: 500px;
  position: absolute;
  top: -40px;
  right: 20%; }

.games__digits {
  display: flex;
  align-content: center;
  position: relative; }
  .games__digits-line {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #101a26;
    top: 50%; }

.digit {
  font-size: 35px;
  background-color: #143a4f;
  padding: 0px 7px;
  border: 1px #224f64 solid;
  border-radius: 3px; }
  .digit:not(:last-child) {
    margin-right: 5px; }

.game-rules {
  width: 100%;
  border: 1px #ffc714 solid;
  padding: 30px 30px;
  margin: 50px 0px;
  position: relative; }
  .game-rules__headline {
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 10px 20px;
    background-color: #ffc714;
    color: #091a23; }
  .game-rules__container {
    display: flex;
    width: 100%;
    justify-content: space-between; }
    .game-rules__container--text {
      margin-right: 30px;
      margin-top: 30px; }

.container--text {
  width: 100%;
  display: flex;
  align-items: center; }
  .container--text:not(:last-child) {
    margin-bottom: 10px; }
  .container--text img {
    margin-right: 15px; }

.container__btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%; }
  .container__btn a {
    white-space: nowrap;
    padding: 10px 15px;
    background-color: #ffc714;
    border-radius: 30px;
    color: #091a23;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .container__btn a span {
      margin-left: 15px;
      font-size: 18px;
      margin-top: -2px; }
