body {
  height: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #153b50 0%, transparent 55%);
  background-color: #07161d;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.wrapper {
  width: 50%;
  margin: 0 auto;
  // padding: 20px 0;
}

.flair {
  width: 100%;
  opacity: 0.6;
  mix-blend-mode: lighten;
  position: absolute;
  z-index: -1;
}

.triangle {
  width: 0;
  height: 0;
  border-bottom: 90px solid transparent;

  border-left: 60vw solid #feb124;
  position: relative;
  // background-image: linear-gradient(to bottom, #ffc714 0%, #feb124 50%);

  &--1 {
    position: absolute;
    top: 0;
    left: 0;

    border-bottom: 55px solid transparent;

    border-left: 40vw solid #ffc714;
  }

  &--2 {
    height: 0;

    position: absolute;
    // bottom: 0;
    right: 0;
    border-top: 120px solid transparent;
    border-right: 85vw solid #ffc563;
  }

  &--3 {
    border-right: 70vw solid #fbbe13;
  }
}

.line {
  height: 1px;
  background-color: #4c4a20;
  margin: 50px 0px;
}
