.main-textbox {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  //   margin: -20px 0px;

  &__top {
    // padding: 10px;
    position: relative;
  }

  &__bot {
    display: flex;
    width: 100%;
    justify-content: space-around;

    &--games {
      //   width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    &--text {
      //   width: 60%;
      text-align: center;
      margin-left: 50px;
    }
  }

  &__logo {
    width: 100px;
    position: absolute;
    top: 15px;
    right: 30%;
  }
}

.jackpot {
  width: 500px;
  position: absolute;
  top: -40px;
  right: 20%;
}
